<section>
  <div content class="form-category form__page container-section">
    <h2 class="title">Tạo danh mục mới</h2>
    <app-local-spinner [componentId]="spinnerId">

  <form [formGroup]="createForm" (submit)="submit(createForm)" class="form-section">

    <div class="row-group">
      <!-- Name -->
      <div class="form-group">
        <mat-label class="label-form">Tên danh mục </mat-label>
        <mat-form-field class="form-field" appearance="fill">
          <input matInput [(ngModel)]="category.name" formControlName="name" required class="input-form"
            placeholder="Nhập tên danh mục">
          <mat-error *ngIf="createForm.controls.name.touched && createForm.controls.name.invalid || submitted">
            Vui lòng điển thông tin
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Type -->
      <div class="form-group">
        <mat-label class="label-form">Loại danh mục </mat-label>
        <mat-form-field class="form-field" appearance="fill">
          <input matInput [(ngModel)]="category.type" formControlName="type" class="input-form"
            placeholder="Nhập loại danh mục">
        </mat-form-field>
      </div>
    </div>

    <div class="row-group">
      <!-- Index -->
      <div class="form-group">
        <mat-label class="label-form">Thứ tự danh mục</mat-label>
        <mat-form-field class="form-field" appearance="fill">
          <input type="number" matInput [(ngModel)]="category.index" formControlName="index" required class="input-form"
            placeholder="Nhập thứ tự danh mục">
          <mat-error *ngIf="createForm.controls.index.touched && createForm.controls.index.invalid || submitted">
            Vui lòng điển thông tin
          </mat-error>
        </mat-form-field>
      </div>

    </div>

    <div class="row-group">
      <!-- Icon -->
      <div class="form-group">
        <mat-label class="label-form">Icon <i>(Font Awesome icon)</i></mat-label>
        <mat-form-field class="form-field" appearance="fill">
          <input matInput [(ngModel)]="category.icon" formControlName="icon" class="input-form"
            placeholder="Nhập Icon">
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-label class="label-form">Preview Icon</mat-label>
        <i style='color:black; font-size: 40px;' class='fa fab fas' [ngClass]='category.icon'></i>
      </div>
    </div>

    <div class="row-group">
      <!-- Status Product -->
      <div class="form-group">
        <mat-label class="label-form">Trạng thái</mat-label>
        <mat-slide-toggle formControlName="isActive">
        </mat-slide-toggle>
      </div>
    </div>

    <div class="row-group">
      <!-- Desciption -->
      <div class="form-group">
        <mat-label class="label-form">Ghi chú</mat-label>
        <mat-form-field class="form-field" appearance="fill">
          <input matInput [(ngModel)]="category.description" formControlName="description" class="input-form"
            placeholder="Nhập chú thích">
        </mat-form-field>
      </div>
    </div>

    <!-- Btn-group -->
    <div class="row-group__button end">
      <button class="cancel" mat-stroked-button color="secondary" (click)="cancel()"> Cancel</button>
      <button type="submit" class="primary submit" mat-raised-button color="primary"> Submit </button>
    </div>
  </form>
</app-local-spinner>
</div>

</section>