@import "./variables";

$width: 230px;

.primary,
.secondary,
button.mat-primary,
button.mat-secondary {
  color: $black;
  background: transparent;
  min-width: $width;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  font-size: $normal;
  line-height: 1.23;
  border: 1px solid transparent;
}
.primary,
[class^="-button"],
[class*="-button"].primary {
  background-color: $primary;
  color: $white;
  &.red {
    background-color: $error;
  }
  &.pink {
    background-color: $pink;
  }
  &.cyan {
    color: $white;
    background-color: $cyan;
  }
  &.yellow {
    background-color: $yellow;
  }
  &.disable {
    background-color: $disable;
  }
}
.secondary,
[class^="-button"],
[class*="-button"].secondary {
  border-color: $primary;
  &.red {
    border-color: $error;
  }
  &.pink {
    border-color: $pink;
  }
  &.cyan {
    color: $white;
    border-color: $cyan;
  }
  &.yellow {
    border-color: $yellow;
  }
}

.row-group__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  button {
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
  }
  &.end {
    justify-content: flex-end;
  }
  &.start {
    justify-content: flex-start;
  }
}
