@import "./variables";

$width-tag: 300px;

.container-section {
  max-width: 1190px;
  margin: 0 auto;
}

// Side Nav
.mat-drawer,
.mat-expansion-panel-header,
.mat-list-item-content {
  background: $gray;
  color: $white;
  .mat-expansion-panel-header-title,
  .mat-expansion-indicator::after {
    color: $white;
  }
}

.mat-list-item-content,
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header,
.mat-expansion-panel .mat-expansion-panel-header.mat-expanded {
  &:hover,
  &:focus,
  &:hover:not([aria-disabled="true"]) {
    background: $gray-hover;
  }
}

// Input
mat-form-field {

  &.mat-form-field-appearance-fill {
    &.ng-invalid {
      &.ng-touched {
        .mat-form-field-flex {
          border: 1px solid $error;
        }
      }
    }
    .mat-form-field-wrapper {
      margin-bottom: 0.5em;
      padding-bottom: 1.5em;
      .mat-form-field-flex {
        border-bottom: unset;
        border: 1px solid $black;
        border-radius: 5px;
        padding: 0.75em;
        background-color: transparent;
        .mat-form-field-infix {
          border-top: unset;
          padding: unset;
          .mat-select-arrow-wrapper {
            transform: unset;
          }
        }
      }
      .mat-form-field-underline {
        display: none;
        .mat-form-field-ripple {
        }
      }
      .mat-form-field-subscript-wrapper {
        margin-top: 0.2em;
      }
    }
  }
}

// Slide toggle
.mat-slide-toggle {
  .mat-slide-toggle-bar {
    background: #54606f;
    .mat-slide-toggle-thumb {
      background: $white;
      border: 1px solid $gray;
      box-shadow: 0px 0px 30px rgba(71, 64, 60, 0.1);
    }
  }
  &.mat-disabled {
    .mat-slide-toggle-bar {
      opacity: 0.5;
    }
  }
  &.mat-checked {
    .mat-slide-toggle-bar {
      background: $primary;
    }
  }
}

// review-tag
.review-tag {
  width: $width-tag;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: $primary;
  color: $white;
  text-align: center;
  .title-item {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .content-item {
    font-size: 60px;
    line-height: 65px;
  }
  .currency {
    font-size: 25px;
  }
  &.red {
    background-color: $google-0;
  }
  &.blue {
    background-color: $facebook-0;
  }
  &.pink {
    background-color: $pink;
  }
  &.cyan {
    background-color: $cyan;
  }
}

.success__snack-bar {
  background-color: $success;
  color: $white;
}

.failure__snack-bar {
  background-color: $error;
}

.mat-badge-content {
  background-color: $primary;
  // color: $gray;
}

.admin-page__header {
  .head {
    @include flex($justify-content: flex-start);
    .title {
      @include font(bold, $x-large, 1.23, $primary);
    }
    @media screen and(max-width: 450px) {
      .title {
        @include font(bold, $large, 1.23, $primary);
      }
    }
  }
}
