@import "./variables";

$width-tag: 300px;

.container-section {
  max-width: 1190px;
  margin: 0 auto;
}

// Side Nav
.mat-drawer,
.mat-expansion-panel-header,
.mat-list-item-content {
  background: $gray;
  color: $white;
  .mat-expansion-panel-header-title,
  .mat-expansion-indicator::after {
    color: $white;
  }
}

.mat-list-item-content,
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header,
.mat-expansion-panel .mat-expansion-panel-header.mat-expanded {
  &:hover,
  &:focus,
  &:hover:not([aria-disabled="true"]) {
    background: $gray-hover;
  }
}

//Selection
.mat-option{
  .mat-option-text {
    display: flex;
    align-items: center;
  }
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled),
.mat-form-field.mat-focused.mat-primary .mat-select-arrow{
  color: $primary;
}

// Input
mat-form-field {
  .group-input {
    display: flex;
  }
  &.mat-form-field-appearance-fill {
    &.ng-invalid {
      &.ng-touched {
        .mat-form-field-flex {
          border: 1px solid $error;
        }
        i, .mat-select-placeholder {
          color: $error;
        }
        input {
          &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $error;
            opacity: 1; /* Firefox */
          }
          &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: $error;
          }
          &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: $error;
          }
        }
      }
    }
    .mat-form-field-wrapper {
      margin-bottom: 0.6em;
      padding-bottom: 1.5em;
      width: 100%;
      .mat-form-field-flex {
        border-bottom: unset;
        border: 1px solid $black;
        border-radius: 5px;
        padding: 0.75em;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .mat-form-field-infix {
          border-top: unset;
          padding: unset;
          .mat-select-arrow-wrapper {
            transform: unset;
          }
        }
      }
      .mat-form-field-underline {
        display: none;
        .mat-form-field-ripple {
        }
      }
      .mat-form-field-subscript-wrapper {
        margin-top: 0.1em;
      }
    }
  }
}

// Slide toggle
.mat-slide-toggle {
  .mat-slide-toggle-bar {
    background: #54606f;
    .mat-slide-toggle-thumb {
      background: $white;
      border: 1px solid $gray;
      box-shadow: 0px 0px 30px rgba(71, 64, 60, 0.1);
    }
  }
  &.mat-disabled {
    .mat-slide-toggle-bar {
      opacity: 0.5;
    }
  }
  &.mat-checked {
    .mat-slide-toggle-bar {
      background: $primary;
    }
  }
}

//stepper
.mat-horizontal-content-container {
  margin-top: 20px;
}
.mat-horizontal-stepper-header-container {
  .mat-horizontal-stepper-header {
    border-radius: 50%;
    height: 50px;
    padding: 0 12px;
    .mat-step-icon {
      margin-right: 0;
      background: $primary;
    }
    .mat-step-label {
      min-width: unset;
    }
  }
  .mat-stepper-horizontal-line {
    margin: 0;
  }
}

// calendar
.mat-calendar-body-selected{
  background: $primary;
}
.mat-datepicker-toggle-active {
  color: $primary;
}
.mat-form-field-flex{
  position: relative;
  .mat-form-field-suffix{
    position: absolute;
    right: 5px;
  }
}

//icon
.mat-form-field:not(.mat-form-field-appearance-legacy) {
  .mat-form-field-suffix {
    .mat-icon-button {

    }
  }
}

// review-tag
.review-tag {
  width: $width-tag;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: $primary;
  color: $white;
  text-align: center;
  .title-item {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .content-item {
    font-size: 60px;
    line-height: 65px;
  }
  .currency {
    font-size: 25px;
  }
  &.red {
    background-color: $google-0;
  }
  &.blue {
    background-color: $facebook-0;
  }
  &.pink {
    background-color: $pink;
  }
  &.cyan {
    background-color: $cyan;
  }
}

.success__snack-bar {
  background-color: $success;
  color: $white;
}

.failure__snack-bar {
  background-color: $error;
}

.mat-badge-content {
  background-color: $primary;
  // color: $gray;
}

.admin-page__header {
  .head {
    @include flex($justify-content: flex-start);
    .title {
      @include font(bold, $x-large, 1.23, $primary);
    }
    @media screen and(max-width: 450px) {
      .title {
        @include font(bold, $large, 1.23, $primary);
      }
    }
  }
}
