$primary-font: "Baloo Tamma 2", cursive;
$secondary-font: "Source Sans Pro", sans-serif;
$thirdary-font: "Varta", sans-serif;
// color
$primary: #6f371e;
$black: #000;
$white: #ffff;
$gold: #f3af06;

// background
$primary-background: #ffff;

// font size
$medium: 14px;
$normal: 16px;

// font weight
$regular: 400;
$medium: 500;
$bold: 700;

// line-height
