$primary-font: "Baloo Tamma 2", cursive;
$secondary-font: "futu", Arial, Tahoma, sans-serif;
$third-font: "Source Sans Pro", sans-serif;
$fourth-font: "Varta", sans-serif;
// color
$primary: #f3af06;
$black: #000;
$gray: #505050;
$gray-hover: #7b7b7b;
$disable: #a5aeca;
$white: #ffff;
$error: #f44336;
$success: #91cf4d;
$pink: rgb(255, 187, 187);
$cyan: rgb(102, 191, 208);
$yellow: rgb(255, 208, 106);
$facebook-0: #4267b2;
$facebook-1: #013db6;
$google-0: #eb4132;
$google-1: #d61200;
$twitter-0: #1da1f2;
$twitter-1: #0183d4d3;
$mail-0: #db493c;
$mail-1: #db493cd3;
$telegram-0: #33abe0;
$telegram-1: #33ace0cb;

// background
$primary-background: #ffff;

// font size
$medium: 14px;
$normal: 16px;
$large: 30px;
$x-large: 35px;

// font weight
$regular: 400;
$medium: 500;
$bold: 700;

// line-height
