<header class="header">
  <div class="container">
    <a routerLink="" class="logo">
      <img src="assets/images/logo.png" alt="HHouse">
    </a>

    <input class="menu-btn" type="checkbox" id="menu-btn" />

    <label class="menu-icon" for="menu-btn">
      <span class="navicon"></span>
    </label>

    <!-- <a href="https://m.me/hhousevietnam"><span>Messenger</span></a> -->
    
    
    <ul class="menu">
      <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">TRANG CHỦ</a></li>
      <li><a routerLink="about" routerLinkActive="active">GIỚI THIỆU</a></li>
      <li><a routerLink="contact" routerLinkActive="active">LIÊN HỆ</a></li>
      <li><a routerLink="auth/sign-in" routerLinkActive="active">TÀI KHOẢN</a></li>
      <li><a (click)="goToCartDetail()" >
          <span [matBadge]="totalItem" color="primary" class="material-icons"> shopping_cart
          </span>
        </a>
      </li>
    </ul>
  </div>
</header>