@import "../../../../../assets/scss/variables";
@import "../../../../../assets/scss/mixin";

.form-product {
  .row-group {
    @include flex($justify-content: space-between, $align-items: flex-start);
    > * {
      width: 100%;
      * {
        width: 100%;
      }
      & + * {
        margin-left: 32px;
      }
    }
    .form-group {
      ::ng-deep favie-label {
        margin-bottom: 0;
      }
      ::ng-deep mat-form-field {
        width: 100%;
      }
    }
  }

  mat-label {
    display: block;
    text-transform: capitalize;
  }

  .button-group__action {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
    button {
      &.cancel {
        margin-right: 16px;
        color: #000000;
        &:hover {
          border-color: unset;
        }
      }
    }
  }
}
