.phone-input__section {
  .phone-prefix {
    ::ng-deep .mat-form-field-infix {
      width: 85px;
    }
  }

  mat-select-trigger {
    display: flex;
    align-items: center;
    .flag {
      margin-right: 7px;
    }
  }
}

.flag,
.code-country {
  margin-right: 7px;
}