<div class="contact-page">

  <div class="container-section">

    <div class="banner">
      <img src="https://nhadep.com.vn/Uploads/images/trang-gioi-thieu/Sofa-da-noi-that-nha-dep.JPG"
        alt="Giới thiệu Nội Thất HHouse" title="Giới thiệu Nội Thất HHouse">
      <h1 class="title">Liên hệ</h1>
    </div>

    <iframe class="maps"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.7156131173106!2d106.64339661525601!3d10.909204159710805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d66edf1c786d%3A0xd92589199308a2da!2zMTksIDE0IELDuWkgQ8O0bmcgVHLhu6tuZywgxJDDtG5nIFRo4bqhbmgsIEjDs2MgTcO0biwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1604829578557!5m2!1svi!2s"
      width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
      tabindex="0"></iframe>

    <div class="time-working">
      <h2>GIỜ MỞ CỬA : 9H00 - 21H00 (HẰNG NGÀY)</h2>
    </div>

    <div class="item-w">
      <h2>Giờ mở cửa : 9h00 - 21h00 (hằng ngày)</h2>

      <p style="text-align: center;">&nbsp;</p>

      <h3>Liên hệ với HHouse</h3>

      <table>
        <tbody class="">
          <tr>
            <td style="width: 60%"><span>Hotline:</span> <strong>0908559709</strong> | Tư vấn thiết kế: <strong>
                0908559709 </strong></td>
            <td><span>Website:</span> <a href="#" target="_blank">House</a></td>
          </tr>
          <tr>
            <td style="width: 60%"><span>Email:</span> <a href="mailto:hhungtran98@gmail.com"> hhungtran98@gmail.com</a>
            </td>
            <td><span>Facebook:</span> <a href="" target="_blank">Nội thất HHouse</a></td>
          </tr>
        </tbody>
      </table>

      <div class="text-center">
        <h4>Hồ Chí Minh</h4>
        <ul class="add-content-show-map active">
          <li> HHouse</li>
          <li>19/14E, Bùi Công Trừng, Đông Thạnh, Hóc Môn</li>
          <li>Tel: 0908559709</li>
        </ul>
      </div>

    </div>

  </div>
</div>