@import "../../assets/scss/variables";
@import "../../assets/scss/mixin";

.admin-page {
  .title {
    font-size: 30px;
  }
  .list-review {
    @include flex($justify-content: space-between);
    flex-wrap: wrap;
    .review-item {
      margin: 10px;
    }
  }
}
