<div class="admin-page">
  <h1 class="title">Chào mừng bạn đến với trang quản lý HHouse</h1>

  <!-- TODO: Feature enable in version 2 -->
  <!-- <div class="list-review">
    <a (click)="itemTag.action()" *ngFor="let itemTag of listTag" class="review-item review-tag"
      [ngClass]="itemTag.background">
      <h3 class="title-item"> {{itemTag.title}} </h3>
      <p class="content-item"> {{itemTag.content}} <span class="currency" *ngIf="itemTag.isPrice">VNĐ</span> </p>
    </a>
  </div> -->


</div>