@import "../../../assets/scss/variables";

.dashboard {
    color: $black;
    font-family: $primary-font;

    header-admin {
        height: 60px;
        display: block;
        ::ng-deep.header {
            background-color: $primary;
        }
    }
    mat-sidenav-content {
        background-color: $primary-background;
        .main_content {
            width: 100%;
            height: calc(100vh - 60px);
            padding: 10px;
            color: $black;
        }
    }
}
