<app-banner-carousel class="banner" [slides]="slideBanner"></app-banner-carousel>

<!-- Top Sale -->
<app-list-product-carousel [listTitle]="titleTopSale" [listCarousel]="slideTopSell"></app-list-product-carousel>

<!-- Living Room -->
<app-list-product-carousel [listTitle]="titleLivingRoom" [listCarousel]="slideLivingRoom"></app-list-product-carousel>

<!-- Bed Room -->
<app-list-product-carousel [listTitle]="titleBedRoom" [listCarousel]="slideBedRoom"></app-list-product-carousel>

<!-- Kitchen -->
<app-list-product-carousel [listTitle]="titleKitchen" [listCarousel]="slideKitchen"></app-list-product-carousel>