<div class="about-page">
  <div class="container-section">
    <div class="banner">
      <img src="https://nhadep.com.vn/Uploads/images/trang-gioi-thieu/Sofa-da-noi-that-nha-dep.JPG"
        alt="Giới thiệu Nội Thất HHouse" title="Giới thiệu Nội Thất HHouse">
      <h1 class="title">Giới thiệu</h1>
    </div>

    <div class="main-content">
      <h2 class="title">GIỚI THIỆU NỘI THẤT HHouse</h2>
      <div class="row-group__content">
        <div class="left-content">
          <p>
            Công ty TNHH Thương Mại & Nội Thất Nhà Đẹp là công ty sở hữu thương hiệu “Nhà Đẹp”, hoạt động trong lĩnh vực
            sản xuất và kinh doanh đồ gỗ nội thất, đồ trang trí, gia dụng trong gia đình từ năm 1999. Nhà Đẹp là thành
            viên của TCT Group, một tập đoàn hoạt động trong các lĩnh vực như bán lẻ, kinh doanh bất động sản, sản xuất,
            xuất khẩu, kinh doanh nhà hàng, khách sạn và xây dựng nội thất. Cho tới nay TCT Group đã bao gồm gần 20 công
            ty thành viên với hàng loạt các chuỗi hệ thống quen thuộc như nhà hàng (PHỐ BIỂN, VẠN HOA, ĐỆ NHẤT, MAMMA
            MIA,
            HOLA, MARUTA), trung tâm thể thao (Fit24 Fitness & Yoga), siêu thị nội thất (NHÀ ĐẸP)…
          </p>
          <p>Với phương châm: “Mang đến sự hài lòng cho tất cả các khách hàng”, Nhà Đẹp không chỉ đề cao chất lượng của
            từng sản phẩm mà còn đặc biệt chú trọng đến các dịch vụ đi kèm như tư vấn thiết kế, vận chuyển, lắp đặt,
            chăm
            sóc khách hàng, bảo hành, bảo trì …Chúng tôi luôn mong muốn khách hàng khi đến với Nhà Đẹp sẽ có được những
            lợi ích tốt nhất trước và sau khi sử dụng sản phẩm của công ty.</p>
        </div>
        <div class="right-content">
          <img src="https://nhadep.com.vn/Uploads/images/trang-gioi-thieu/Sofa-da-noi-that-nha-dep.JPG" alt="">
        </div>
      </div>
      <div class="center-content">
        <p>
          Hệ thống sản phẩm của Nhà Đẹp bao gồm đồ nội thất, đồ trang trí, gia dụng với mẫu mã, giá cả đa dạng, phù hợp
          với nhiều phong cách nội thất và kinh tế của từng gia đình. Đến với chúng tôi, chắc chắn bạn sẽ hoàn toàn hài
          lòng bởi những gì bạn cần cho tổ ấm của mình đều có tại Nhà Đẹp.
        </p>
        <p>Sản phẩm của Nhà Đẹp đa dạng về mẫu mã, hợp lý về giá cả. Dù bạn đang sở hữu một ngôi nhà sang trọng, rộng
          rãi hay một căn hộ chung cư với diện tích vừa phải, bạn đều có thể lựa chọn cho mình những sản phẩm nội thất,
          gia dụng phù hợp và đồng bộ nhất cho ngôi nhà của mình tại Nhà Đẹp. Bất cứ phong cách nội thất nào bạn yêu
          thích, Nhà Đẹp sẽ luôn là điểm đến tin cậy cho sự lựa chọn của bạn.</p>
      </div>
    </div>

    <div class="title-design">
      <img src="https://nhadep.com.vn/Uploads/images/trang-gioi-thieu/Sofa-da-noi-that-nha-dep.JPG"
        alt="Giới thiệu Nội Thất HHouse" title="Giới thiệu Nội Thất HHouse">
      <label>
        <i>
          “Hãy đến Nội thất HHouse, chúng tôi sẽ giúp bạn có một không gian sống hiện đại và phong cách"
        </i>
      </label>
    </div>


    <div class="content-future">

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="vews-text text-justify over">
            <h3 class="text-center">Tầm nhìn</h3>
            <p><span style="font-size:16px;">Nội thất Nhà Đẹp&nbsp;xác định mục tiêu và định hướng phát triển là trở
                thành một trong những công ty hàng đầu trong lĩnh vực nội thất tại Việt Nam. Nhà Đẹp cung cấp các giải
                pháp trọn gói từ tư vấn thiết kế, thi công lắp đặt và hoàn thiện mọi thiết bị nội thất cho gia
                chủ.&nbsp;</span></p>

            <p>Nội thất Nhà Đẹp sẽ hiện thực hóa những ý tưởng, ước mơ của khách hàng và mang đến cho khách hàng một
              không gian sống với phong cách nội thất hiện đại, sang trọng, tiện nghi.</p>

          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="vews-text text-justify over">
            <h3 class="text-center">Sứ mệnh</h3>
            <p>Bằng chính tình yêu và sự trân trọng, Nội thất Nhà Đẹp luôn nổ lực không ngừng để mang đến cho khách
              hàng những sản phẩm tốt nhất, kèm dịch vụ tận tình, chu đáo nhất. Sự hài lòng của khách hàng là niềm tự
              hào của chúng tôi.</p>

            <p>Với chúng tôi, kinh doanh đồ nội thất không chỉ là bán cho khách hàng một sản phẩm mang tính vật chất,
              mà trên hết đó là giá trị tinh thần, chúng tôi giúp bạn thổi hồn vào không gian sống, để từng phút giây
              bạn quây quần bên gia đình là những phút giây thư giãn, bình yên và đắm chìm&nbsp;trong hạnh phúc.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>