<div class="sidenav_container" (mouseenter)="onSinenavToggle()" (mouseleave)="onSinenavToggle()"
    [@onSideNavChange]="sideNavState ? 'open' : 'close'">
    <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">

        <div class="user_menu">
            <mat-nav-list>
                <a mat-list-item routerLink="/">
                    <img class="logo" src="/assets/images/favicon.png" alt="">
                </a>
            </mat-nav-list>
            <mat-divider></mat-divider>
        </div>

        <div class="menu-list">
            <mat-nav-list>
                <ng-container *ngFor="let action of navbarActions">

                    <!-- If this menu is a direct link -->
                    <a class="menu-link" mat-list-item *ngIf="action.link else subMenu" [title]="action.name"
                        [routerLink]="action.link" (click)="onSelect(action)" [class.selected]="action.isSelected">

                        <i [class]="action.icon"></i>
                        &nbsp;&nbsp;
                        <span *ngIf="action.name" [@animateText]="linkText ? 'show' : 'hide'">{{ action?.name }} </span>
                    </a>

                    <!-- If this menu has sub menus -->
                    <ng-template #subMenu>
                        <mat-expansion-panel (opened)="true" (closed)="false">

                            <mat-expansion-panel-header mat-list-item>
                                <mat-panel-title [title]="action.name">
                                    <i [class]="action.icon"></i> &nbsp;&nbsp;
                                    <span *ngIf="action.name"
                                        [@animateText]="linkText ? 'show' : 'hide'">{{ action?.name }} </span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <a mat-list-item class="menu-link" *ngFor="let action of action.subActions"
                                (click)="onSelect(action)" [class.selected]="action.isSelected" [title]="action.name"
                                [routerLink]="action.link">
                                <i [class]="action.icon"></i>
                                &nbsp;&nbsp;
                                <span *ngIf="action.name" [@animateText]="linkText ? 'show' : 'hide'">{{ action?.name }}
                                </span>
                            </a>
                        </mat-expansion-panel>
                    </ng-template>

                </ng-container>
            </mat-nav-list>
        </div>
    </div>

    <!-- <span class="spacer"></span>
    <div fxLayout="row" fxLayoutAlign="end center" style="padding: 0px 10px;">
        <button mat-icon-button (click)="onSinenavToggle()">
            <mat-icon *ngIf="sideNavState">arrow_left</mat-icon>
            <mat-icon *ngIf="!sideNavState">arrow_right</mat-icon>
        </button>
    </div> -->
</div>