<div class="product__item">
  <div class="product__item-overlay">
    <ul class="action__btn">
      <li class="action__btn-list" (click)='onClickProduct(product)'>
        <i class="fas fa-search-plus"></i>
      </li>
      <li class="action__btn-list" (click)='onClickAddToFavorite(product)'>
        <i class="far fa-heart"></i>
      </li>
    </ul>
    <img [src]="product.pictureUrl" [alt]="product.name">
  </div>
  <div class="product__infor" >
    <div class="info__container" (click)='onClickProduct(product)'>
      <div class="product__item-name"> {{product.name}} </div>
      <div class="product__item-price">
        <span class="curent-price">{{ product.price | number:'1.0-3'}} VNĐ</span>
        <span class="price-unSale" *ngIf="product.price_before">{{ product.price_before | number:'1.0-3'}} VNĐ</span>
      </div>
      <div class="product__item-rate" *ngIf="listRate">
        <span class="fa fa-star checked" *ngFor="let i of listRate"></span>
        <span class="fa fa-star"></span><span *ngIf="product.vote">( {{product.vote}} )</span>
      </div>
    </div>
    <div class="product__item-addtocart">
      <button class="btn btn-fill-out btn-radius" (click)="addToCart($event)">
        <i class="fa fa-shopping-basket"></i>Thêm vào giỏ hàng
      </button>
    </div>
  </div>
</div>