@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixin";

.product-page {
  .head {
    @include flex($justify-content: flex-start);
    .btn-back {
      background: transparent;
      border: none;
      outline: none;
      margin-right: 20px;
      i {
        font-size: $large;
        color: $error;
      }
    }
    .title {
      @include font(bold, $x-large, 1.23, $primary);
    }
  }
}
