<div class="header">
    <div class="group-name">
        <button mat-icon-button (click)="sidenav.toggle();">
            <mat-icon>menu</mat-icon>
        </button>

        <h1 class="title"><a routerLink="/">Quản lý HHouse</a> </h1>
    </div>

    <div class="group-action__user">
        <mat-menu #menu="matMenu">
            <button class="btn" mat-menu-item routerLink="/personal-info"><i class="fa fa-user-cog"></i> Thông tin tài
                khoản</button>
            <button class="btn" mat-menu-item routerLink="/change-password"><i class="fa fa-key"></i> Đổi mật
                khẩu</button>
            <button class="btn" mat-menu-item (click)="logout()"><i class="fa fa-power-off"></i> Đăng xuất</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="menu" class=" btn_user">
            <!-- <img class="header__avatar" src="/assets/img/boss.png" alt="" /> -->
            <span class="name-item">Chào, {{ firstName }}</span>
        </button>
    </div>

</div>