<div class="page__sign-up">
  <div class="page__sign-up-container">
    <div class="form__sign-up form__page">

          <div class="form__container">
              <a routerLink="/" class="sign-up__brand"> HHouse </a>
              <a routerLink="/" class="sign-up__link">
                  <img class="sign-up_img" src="assets/images/favicon.png" alt="HHouse" />
              </a>
              <div class="sign-up__heading">
                  <h1 class="sign-up__headingText">Đăng ký</h1>
              </div>
             
              <form [formGroup]="signUpFormGroup">

                <!-- UserName -->
                <div class="form-group">
                  <mat-form-field class="form-field" appearance="fill">
                    <div class="group-input">
                      <input matInput class="input input__username" type="text" formControlName="email" placeholder="Email đăng nhập" required />
                      <i class="input_user fa fa-user"></i>
                    </div>
                    <mat-error *ngIf="signUpFormGroup.controls.email.errors && 
                    (signUpFormGroup.controls.email.dirty  || signUpFormGroup.controls.email.touched)">
                      <span *ngIf='signUpFormGroup.controls.email.errors.required'>Vui lòng nhập email</span>
                      <span *ngIf='signUpFormGroup.controls.email.errors.email'>Sai định dạng Email. Vd: email@gmail.com</span>
                      <span *ngIf='signUpFormGroup.controls.email.errors.exist'>Email đã tồn tại</span>
                    </mat-error>
                  </mat-form-field>
                </div>

                <app-phone-input [field]="filedPhoneNumber"
                  (phoneNumberEmitter)="setPhoneNumber($event,  signUpFormGroup.controls[filedPhoneNumber.key])"
                ></app-phone-input>
    
                <!-- Password --> 
                <div class="form-group">
                  <mat-form-field  class="form-field" appearance="fill">
                      <div class="group-input">
                        <input matInput class="input-form input__password" [type]="inputTypePassword" formControlName="password" placeholder="Mật khẩu" required #inputPass />
                        <i [matTooltip]="tooltipContent" (click)="changeType(inputPass.type)" 
                          class="input_password" [class]="iconPassword"></i>
                      </div>
                      <mat-error *ngIf="signUpFormGroup.controls.password.errors && 
                        (signUpFormGroup.controls.password.dirty  || signUpFormGroup.controls.password.touched)">
                        <span *ngIf='signUpFormGroup.controls.password.errors.required'>Vui lòng nhập mật khẩu</span>
                        <span *ngIf='signUpFormGroup.controls.password.errors.minlength'>Độ dài tối thiểu 8 ký tự</span>
                      </mat-error>
                  </mat-form-field>
                </div>

                <!-- Password confirm -->
                <div class="form-group">
                  <mat-form-field class="form-field" appearance="fill">
                    <div class="group-input">
                      <input matInput class="input-form input__password" [type]="inputTypePassword" formControlName="confirmPassword" 
                          placeholder="Xác nhận mật khẩu" required #inputPass />
                      <i [matTooltip]="tooltipContent" (click)="changeType(inputPass.type)" 
                        class="input_password"[class]="iconPassword"></i>
                    </div>
                    <mat-error *ngIf="signUpFormGroup.controls.confirmPassword.errors && 
                        (signUpFormGroup.controls.confirmPassword.dirty  || signUpFormGroup.controls.confirmPassword.touched)">
                        <span *ngIf='signUpFormGroup.controls.confirmPassword.errors.required'>Vui lòng nhập mật khẩu</span>
                        <span *ngIf='signUpFormGroup.controls.confirmPassword.errors.confirmPasswordNotMatch'>Mật khẩu không trùng khớp</span>
                      </mat-error>
                  </mat-form-field>
                </div>
                <button class="btn__sign-up" (click)="signUp()">Đăng ký</button>
              </form>

              <a class="link__create_account" routerLink="/auth/sign-in">Đăng nhập</a>
          </div>

    </div>
  </div>
</div>


<ng-template #messageTemplate let-control="control" let-message="message" >
  <ng-container *ngIf="control.errors  && (control.dirty  || control.touched)">
    <mat-error *ngIf="control.errors?.required" class="alert alert-danger">
        {{ message }}
    </mat-error>
  </ng-container>
</ng-template>