@import "./assets/scss/variables";
@import "./assets/scss/mixin";
@import "./assets/scss/header";
@import "./assets/scss/footer";
@import "./assets/scss/layout";
@import "./assets/scss/form";
@import "./assets/scss/button";

/* You can add global styles to this file, and also import other style files */

$max-width: 1190px;

@font-face {
    font-family: futu;
    src: url("./assets/fonts/UTMFUTURAEXTRA.eot");
    src: url("./assets/fonts/UTMFUTURAEXTRA.eot?#iefix") format("embedded-opentype"),
        url("./assets/fonts/UTMFUTURAEXTRA.woff2") format("woff2"),
        url("./assets/fonts/UTMFUTURAEXTRA.woff") format("woff"),
        url("./assets/fonts/UTMFUTURAEXTRA.ttf") format("truetype"),
        url("./assets/fonts/UTMFUTURAEXTRA.svg#utm-impact") format("svg");
}

body,
html,
.client {
    background-color: $primary-background;
    font-family: $primary-font;
    font-size: $medium;
    color: $black;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    margin: 0;
    padding: 0;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $normal;
    font-weight: 500;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
strong {
    margin: 0;
}

a,
button {
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

input,
select,
button,
textarea {
    box-shadow: none;

    &:focus,
    &:active {
        outline: none !important;
    }
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: $max-width;
    margin: 0 auto;
}

// Mat table
.mat-table {
    width: 100%;
    min-width: 768px;
    border-collapse: collapse;
    // background-color: white;
    .mat-cell,
    .mat-header-cell {
        color: black;
        font-size: 18px;
    }
    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
        border-color: gray;
    }
}

.slick-slide,
.slick-slide:focus * {
    outline: none !important;
}
