<header class="header">
  <div class="container">
    <a routerLink="" class="logo">
      <img src="assets/images/logo.png" alt="HHouse">
    </a>

    <input class="menu-btn" type="checkbox" id="menu-btn" />

    <label class="menu-icon" for="menu-btn">
      <span class="navicon"></span>
    </label>

    <ul class="menu">
      <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">HOME</a></li>
      <li><a routerLink="about" routerLinkActive="active">GIỚI THIỆU</a></li>
      <li><a routerLink="contact" routerLinkActive="active">LIÊN HỆ</a></li>
      <li><a routerLink="auth/sign-in" routerLinkActive="active">ĐĂNG NHẬP</a></li>
      <li><a routerLink="shopping-cart" routerLinkActive="active">
          <span [matBadge]="listProductInCart?.length || 0" color="primary" class="material-icons"> shopping_cart
          </span>
        </a>
      </li>
    </ul>
  </div>
</header>

<main class="content">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class="footer__top">
    <div class="container-section">
      <div class="row">
        <div class="footer__top-item">
          <h6 class="footer__top-title">Thông tin liên hệ</h6>
          <ul class="footer__top-list">
            <li>
              <a href="https://maps.google.com/?q=19/14E, Ấp 4, Bùi Công Trừng, Đông Thạnh, Hóc Môn" target="_blank">
                <i class="fas fa-map-marker-alt"></i>
                19/14E, Ấp 4, Bùi Công Trừng, Đông Thạnh, Hóc Môn
              </a>
            </li>
            <li>
              <a href="mailto:hhungtran98@gmail.com">
                <i class="fas fa-envelope"></i>
                hhungtran98@gmail.com
              </a>
            </li>
            <li>
              <a href="tel:0908559709">
                <i class="fas fa-mobile-alt"></i>
                0908559709
              </a>
            </li>
          </ul>
          <ul class="list-social_icons">
            <li>
              <a class="sc_facebook" target="_blank" href="https://www.facebook.com/HHouse-103305761589037">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a class="sc_google" target="_blank" href="mailto:hhungtran98@gmail.com">
                <i class="fab fa-google-plus-g"></i>
              </a>
            </li>

          </ul>
        </div>

        <div class="footer__top-item">
          <h6 class="footer__top-title">Về chúng tôi</h6>
          <ul class="footer__top-list">
            <li><a href="#">Câu hỏi thường gặp</a></li>
            <li><a href="#">Địa điểm</a></li>
            <li><a href="#">Liên hệ</a></li>
          </ul>
        </div>

        <div class="footer__top-item">
          <h6 class="footer__top-title">Thông tin tài khoản </h6>
          <ul class="footer__top-list">
            <li><a href="#">Tài khoản của tôi
              </a></li>
            <li><a href="#">Giảm giá</a></li>
            <li><a href="#">Hoàn trả</a></li>
            <li><a href="#">Lịch sử đơn hàng</a></li>
            <li><a href="#">Theo dõi đơn hàng</a></li>
          </ul>

        </div>

        <div class="footer__top-item">
          <h6 class="footer__top-title">Đăng ký bản tin của chúng tôi</h6>
          <p class="If">Bạn muốn nhận email từ chúng tôi mỗi khi chúng tôi có ưu đãi đặc biệt mới, hãy ký trên
            này này!</p>
          <div class="newsletter_form rounded_input">
            <form>
              <input class="form-control" type="text" required="" placeholder="Hãy điền email của bạn!">
              <button class="btn-send" type="submit" name="submit" value="Submit"><i
                  class="fas fa-envelope-open-text"></i></button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">

      <div class="footer__content">
        <p class="copyright">© 2020 All Rights Reserved by <a class="brand" routerLink="/">HHouse</a> </p>

        <ul class="footer_payment ">
          <li><a href="#"><img src="assets/images/visa.png" alt=""></a></li>
          <li><a href="#"><img src="assets/images/master_card.png" alt=""></a></li>
          <li><a href="#"><img src="assets/images/momo-icon.png" alt=""></a></li>
        </ul>
      </div>

    </div>
  </div>

</footer>