<header class="header">
    <div class="container">
        <a routerLink="" class="logo">Logo</a>

        <input class="menu-btn" type="checkbox" id="menu-btn" />

        <label class="menu-icon" for="menu-btn">
            <span class="navicon"></span>
        </label>

        <ul class="menu">
            <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">HOME</a></li>
            <!-- <li> <button mat-button [matMenuTriggerFor]="menu">Menu</button></li>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu> -->
            <li><a routerLink="about" routerLinkActive="active">GIỚI THIỆU</a></li>
            <li><a routerLink="contact" routerLinkActive="active">LIÊN HỆ</a></li>
            <li><a routerLink="auth/sign-in" routerLinkActive="active">ĐĂNG NHẬP</a></li>
        </ul>
    </div>
</header>

<main class="content">
    <router-outlet></router-outlet>
</main>

<footer>
    <div class="footer-group">
        <div class="container">
            <div class="logo"><a routerLink="">Logo</a></div>
            <div class="description">
                <h2 class="company-name">Huy Hùng</h2>
                <ul>
                    <li>Địa chỉ: <a href="">19/14E, Bùi Công Trừng, Đông Thạnh, Hóc Môn</a></li>
                    <li>Điện thoại: <a href="tel:0908559709">0908559709</a></li>
                    <li>Email: <a href="mailto:hhungtran98@gmail.com">hhungtran98@gmail.com</a></li>
                </ul>
            </div>
            <div class="payment">
                <p class="title">Bạn có thể thanh toán qua</p>
                <ul>
                    <li>MOMO</li>
                    <li>Internet Banking</li>
                    <li>COD</li>
                </ul>
            </div>
            <div class="copyright">Copyright <a routerLink="">HuyHung</a> 2020</div>
        </div>
    </div>
</footer>